body {
	background-color: rgb(190, 188, 183);
}

#cont {
	margin: auto;
	width: 55%;
	margin-top: 50px;
	background-color: white;

	padding: 20px;
}

.form-row {
	padding: 10px 0;
	display: flex;
}

.form-row label {
	padding-right: 10px;
}

.form-row input {
	flex: 1;
}

.column-layout {
	max-width: 1300px;
	background-color: #fff;
	margin: 40px auto 0 auto;
	line-height: 1.65;
	padding: 20px 50px;
	display: flex;
}

.main-column {
	flex: 2;
	order: 2;
}

.sidebar-one {
	flex: 1;
	order: 1;
}

.sidebar-two {
	flex: 1;
	order: 3;
}

.cont2 {
	max-width: 1400px;
	margin: 40px auto 0 auto;
}

@media (min-width: 900px) {
	.cont2 {
		display: flex;
		justify-content: space-between;
	}
}

.boxes {
	padding: 20px;
	margin-bottom: 20px;

	box-sizing: border-box;

	flex-basis: 30%;
}

.boxes:nth-child(1) {
	background-color: lightblue;
}
.boxes:nth-child(2) {
	background-color: lightgreen;
}
.boxes:nth-child(3) {
	background-color: purple;
}

.numbers div {
	background-color: red;
	color: white;

	font-size: 48px;
	width: 150px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	height: 150px;
	line-height: 150px;
}

.numbers {
	background-color: white;
	display: flex;

	margin: 40px auto 0 auto;
	max-width: 1400px;
	padding: 30px 0;
	justify-content: space-around;
	flex-wrap: wrap;
}

.banner {
	background-color: rgb(14, 22, 22);
	color: white;
	margin: 40px auto 10px auto;
	max-width: 700px;
	height: 400px;

	font-weight: bold;
	display: flex;
}

.center-me {
	margin: auto;

	font-size: 56px;
}

.columns {
	max-width: 1400px;
	display: flex;
	margin: auto;
}

.column1 {
	background-color: white;
	padding: 30px 15px;
	font-size: 20px;
	flex: 1;
}

.column2 {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.acolumn {
	background-color: lightblue;
	flex: 1;
}

.bcolumn {
	background-color: lightgreen;
	flex: 1;
}
